<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button routerLink="/"><h2>Generic App</h2></button>
        <span class="fill-middle-spacer"></span>
        <button mat-button></button>
    <button mat-button [matMenuTriggerFor]="menu">
        <div class='icon' >
            <mat-icon inline="true">account_circle</mat-icon>
        </div>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">Home</button>
        <button mat-menu-item routerLink="/settings">Settings</button>
        <button mat-menu-item>
            <a href="/api/docs" target="_blank" mat-menu-item>API Documentation</a>
        </button>
    </mat-menu>
    </mat-toolbar-row>
</mat-toolbar>
